/* styles for my midterm review */
html {
	font-size: 1em;
	font-weight: 400;
	color: #444;
	font-family: Open sans, Arial, sans-serif
}

div {
	width: 1000px;
	padding: 10px;

	margin: 0; 
}


#h1 {
	
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	padding: -20;

}

#readmore{

	font-family: georgia;
	font-size: 12;
	font-style: bold;

}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}


#body { 
font-family: Georgia;
font-size: 13px; 
}

#img
{
	align-content: center;
	font-style: italic;
	font-size: 11px;
	padding-right: 500px;

}

#pullquote {

	font-family: Geogria;
	font-size: 20px;
	font-style: italic;
}


